<div style="border: 1px solid black">
<b><center><font size="4">Data Science</font></center></b>

<b><center><font size="3">Manipulação e Análise de Dados com Pandas Dataframes</font></center></b>

<b><center><font size="2">3 - Creating Dataframes</font></center></b>
</div>

**Notebook Developed by**: [Ricardo Campos](https://www.di.ubi.pt/~rcampos)<br>
**email:**  ricardo.campos@ubi.pt<br>
**Affiliation:** *Assistant Professor* @ [University of Beira Interior](http://www.ubi.pt);
*Researcher* @ [LIAAD](https://www.inesctec.pt/en/centres/liaad)-[INESC TEC](https://www.inesctec.pt/en)

<hr>

<p><a href="3CreatingDataframes.ipynb" title="Download Notebook" download><img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/download.jpg" align = "left" width="50" height="50" alt="Download Notebook"></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<hr>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#What-is-a-Data-Frame?" data-toc-modified-id="What-is-a-Data-Frame?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>What is a Data Frame?</a></span></li><li><span><a href="#Options" data-toc-modified-id="Options-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Options</a></span></li><li><span><a href="#Create" data-toc-modified-id="Create-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create</a></span><ul class="toc-item"><li><span><a href="#From-Lists" data-toc-modified-id="From-Lists-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>From Lists</a></span><ul class="toc-item"><li><span><a href="#Row-Oriented" data-toc-modified-id="Row-Oriented-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Row Oriented</a></span></li><li><span><a href="#Column-Oriented" data-toc-modified-id="Column-Oriented-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Column Oriented</a></span></li></ul></li><li><span><a href="#From-Dictionaries" data-toc-modified-id="From-Dictionaries-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>From Dictionaries</a></span><ul class="toc-item"><li><span><a href="#Row-Oriented" data-toc-modified-id="Row-Oriented-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Row Oriented</a></span></li><li><span><a href="#Column-Oriented" data-toc-modified-id="Column-Oriented-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Column Oriented</a></span></li></ul></li><li><span><a href="#From-Scratch" data-toc-modified-id="From-Scratch-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>From Scratch</a></span></li></ul></li><li><span><a href="#Set-Index" data-toc-modified-id="Set-Index-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Set Index</a></span></li><li><span><a href="#Exploring-Dataframes-with-Head-and-Tail" data-toc-modified-id="Exploring-Dataframes-with-Head-and-Tail-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Exploring Dataframes with Head and Tail</a></span></li></ul></div>

# Data Frames - Creation <a class="tocSkip">

<div class="alert alert-success alertsuccess" style="margin-top: 20px">

## Objetivos de aprendizagem  <a class="tocSkip">
    
No final deste notebook o aluno deverá saber criar pandas dataframes.


## Learning Objectives  <a class="tocSkip">
       
When concluding this notebook, the student should know how to create pandas dataframes. </div>

<div class="alert alert-success alertsuccess" style="margin-top: 20px">

## Sumário  <a class="tocSkip">
### Criação de dataframes <a class="tocSkip">

Introdução dos alunos à criação de dataframes em Pandas
- o que é um dataframe?
- customização de opções
- criação de dataframes a partir de listas e dicionários
- especificação de indices
- exploração de dataframes com recurso ao head e ao tail
    
## Class Summary  <a class="tocSkip">
### Creation of dataframes <a class="tocSkip">
Introducing students to dataframes creation
- what is a dataframe?
- customization of options
- creating dataframes from lists and dictionaries
- indexes
- exploring dataframes with head and tail

</div>

<hr>

O módulo Pandas é um recurso Python essencial para a análise e processamento de grandes volumes de dados. Para uma aplicaçao efetiva do módulo Pandas é necessário entender duas estruturas fundamentais: Series (1-dimensão, ou seja, uma única coluna) e DataFrame (>= 2-dimensões, ou seja, mais do que uma coluna de informação). No fundo um dataframe é guardado em memória como um conjunto de dataframes.

Em qualquer caso é necessário importar o módulo do pandas.

In [10]:
import pandas as pd

De referir também que o pandas devolve por vezes uns avisos sobre módulos que já estão desatualizados. Pode evitar esses avisos através do seguinte código:

In [2]:
import warnings
#suppress warnings from pandas library
warnings.filterwarnings("ignore",category=DeprecationWarning,module="pandas",lineno=570)

<hr>

## What is a Data Frame?
Um DataFrame representa uma estrutura tabular idêntica a uma folha de cálculo na qual temos linhas (observações de múltiplas variáveis) e colunas (vetores contendo dados de uma variável específica - potencialmente de diferentes tipos de dados). Cada coluna é, na verdade, uma Serie. Mais especificamente, o DataFrame é um dicionário de Series, todas do mesmo tamanho.

No vocabulário adotado pela pandas, o termo index é
sempre utilizado para índices das linhas, enquanto o termo
column é utilizado para os índices das colunas.

Não esqueça que a primeira coluna está na posição 0, a
segunda, na posição 1 etc. Da mesma forma, a primeira
linha está na posição 0, a segunda, na posição 1 etc.

De seguida procedemos a uma comparação entre numpy e dataframes

<b>Numpy</b>

- arrays, matrizes
- acesso a funções matemáticas
- n-dimensional
- um array tem o mesmo tipo de dados

<b>DataFrame</b>

- similar a tabelas SQL
- adequado à análise de dados (operações de interrogação dos dados (query))
- mais apropriado a duas dimensões
- um dataframe pode ter diferentes tipos de dados

De uma forma geral podemos dizer que um dataframe é composto por 3 componentes principais: os dados, o índice e as colunas.

<hr>

## Options

O código seguinte permite definir a visualização de todas as colunas de um dataframe (situação particularmente útil no caso de o dataframe ser demasiado extenso).

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)

Se pretender voltar à opção de ocultação de parte das colunas execute o seguinte código.

In [4]:
pd.reset_option("max_columns")

Para aumentar o tamanho da célula (útil quando as strings são demasiado compridas) use o seguinte código:

In [5]:
pd.set_option('max_colwidth',40)

Para permitir a visualizaçao de todas as linhas:

In [6]:
import pandas as pd
pd.set_option('display.max_rows', None)

Para mostrar todo o conteúdo de uma coluna num dataframe.

In [7]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

<hr>

## Create

A seguinte figura apresenta um exemplo de como criar dataframes. Em concreto exemplifica a criação do DataFrame `paises`, o qualo possui cinco linhas e quatro colunas para armazenar informações sobre cinco diferentes nações, em concreto, nome (nome do país), continente (nome do continente onde se localiza o país), extensão (extensão territorial em milhares de quilometros quadrados) e corVerde (indica se a cor verde está presente na bandeira do país; o valor 1 representa sim e 0, não).

A criação de dataframes python pode ser feita a partir de listas e dicionários (por linha ou por coluna). A figura seguinte ilustra as várias possibilidades:

<img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/DataScience/Pandas1.jpg" width="900" height="900" align="center"/>

<center>Adaptado de: https://www.casadocodigo.com.br/products/livro-pandas-python</center>

### From Lists

#### Row Oriented

Pode criar um dataframe a partir de uma lista de dados (onde os dados aparecem dispostos em forma de linha e são introduzidos de uma só vez).

In [8]:
data = [['Argentina','América', 2780, 0],
        ['Brasil', 'América', 8511, 1],
        ['França', 'Europa', 644, 0],
        ['Itália', 'Europa', 301, 1],
        ['Reino Unido', 'Europa', 244,0],
       ]

labels = ['nome', 'continente', 'extensao', 'corVerde']

df = pd.DataFrame(data, columns = labels)
df

          nome continente  extensao  corVerde
0    Argentina    América      2780         0
1       Brasil    América      8511         1
2       França     Europa       644         0
3       Itália     Europa       301         1
4  Reino Unido     Europa       244         0

Ou a partir de uma lista de dados (onde os dados aparecem dispostos em forma de linha, mas os dados são introduzidos um a um com recurso ao método append()). Útil para quando estamos a ler por exemplo dados a partir de ficheiros.

In [11]:
df = pd.DataFrame()
for d in data:
    df = df.append([d],ignore_index=True)
df.columns = ['nome', 'continente', 'extensao', 'corVerde']
df

AttributeError: 'DataFrame' object has no attribute 'append'

#### Column Oriented

In [12]:
nome = ['Argentina','Brasil','França','Itália', 'Reino Unido']
continente = ['América','América','Europa','Europa', 'Europa']
extensao = [2780,8511,644,301, 244]
corVerde = [0,1,0,1,0]

labels = ['nome', 'continente', 'extensao', 'corVerde']

df = pd.DataFrame(list(zip(nome, continente, extensao, corVerde)), columns = labels)
df

          nome continente  extensao  corVerde
0    Argentina    América      2780         0
1       Brasil    América      8511         1
2       França     Europa       644         0
3       Itália     Europa       301         1
4  Reino Unido     Europa       244         0

<hr>

### From Dictionaries

#### Row Oriented

Observe-se que o cabeçalho, aqui, é dado pelas chaves do dicionário.

In [13]:
import pandas as pd
data = [{'nome': 'Argentina','continente':'América','extensao':2780,'corVerde':0},
         {'nome': 'Brasil','continente':'América', 'extensao':8511, 'corVerde': 1},
         {'nome': 'França','continente':'Europa', 'extensao':644, 'corVerde': 0},
         {'nome': 'Itália','continente':'Europa', 'extensao':301, 'corVerde': 1},
         {'nome': 'Reino Unido','continente':'Europa', 'extensao':244, 'corVerde': 0}
         ]

df = pd.DataFrame(data)
df

          nome continente  extensao  corVerde
0    Argentina    América      2780         0
1       Brasil    América      8511         1
2       França     Europa       644         0
3       Itália     Europa       301         1
4  Reino Unido     Europa       244         0

#### Column Oriented

Observe-se que o cabeçalho, aqui, é dado pelas chaves do dicionário.

In [14]:
import pandas as pd
data = {'nome': ['Argentina','Brasil','França','Itália','Reino Unido'],
         'continente': ['América','América','Europa','Europa','Europa'],
         'extensao': [2780,8511,644,301,244],
         'corVerde': [0,1,0,1,0]
}

df = pd.DataFrame(data)
df

          nome continente  extensao  corVerde
0    Argentina    América      2780         0
1       Brasil    América      8511         1
2       França     Europa       644         0
3       Itália     Europa       301         1
4  Reino Unido     Europa       244         0

Ou pode criar a partir de uma dicionário (onde os dados aparecem em coluna, mas são introduzidos um a um com recurso ao método `append()`, e os `labels` são as `keys` do dicionário). Útil para quando estamos a ler por exemplo dados a partir de ficheiros. Observe-se que o sistema coloca a disposição das colunas por ordem alfabética. Para especificarmos uma ordem podemos em alternativa especificar a ordem das colunas aquando da criação do dataframe.

In [15]:
import pandas as pd

data = {'nome': ['Argentina','Brasil','França','Itália','Reino Unido'],
         'continente': ['América','América','Europa','Europa','Europa'],
         'extensao': [2780,8511,644,301,244],
         'corVerde': [0,1,0,1,0]
}

siglas = ['AR','BR','FR','IT','UK']
df = pd.DataFrame(columns = ['nome','continente','extensao','corVerde'])

numRows = len(data['nome'])
for i in range(numRows):
    df = df.append({'nome':data['nome'][i],'continente':data['continente'][i],'extensao':data['extensao'][i],'corVerde':data['corVerde'][i]},ignore_index=True)

df

AttributeError: 'DataFrame' object has no attribute 'append'

<hr>

### From Scratch

Para evitar perder tanto tempo na edição de um running example para um dataframe, podemos simplesmente recorrer ao `numpy` para a criação de um dataframe com valores aleatórios. O exemplo abaixo cria um `df` com 4 linhas e 8 colunas:

In [16]:
import pandas as pd
import numpy as np

pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.906986,0.312399,0.772850,0.245238,0.305324,0.782586,0.222620,0.795669
1,0.314806,0.993992,0.551407,0.907303,0.214981,0.675797,0.400307,0.114607
2,0.530852,0.813257,0.401966,0.989102,0.283346,0.373949,0.036170,0.682608
3,0.850810,0.844859,0.835392,0.685998,0.816266,0.994114,0.815537,0.905604

Podemos também criar um dataframe passo a passo. Primeiro começamos por definir o header:

In [17]:
df = pd.DataFrame()
columns_names =  ["First Name", "Last Name"]

df = pd.DataFrame(columns = columns_names)
df

Empty DataFrame
Columns: [First Name, Last Name]
Index: []

Depois acrescentamos os registos:

In [19]:
# New row you want to add
new_row = pd.DataFrame([{'First Name': 'Filipa', 'Last Name': 'Nunes'}])

# Concatenate the new row with the existing DataFrame
df = pd.concat([df, new_row], ignore_index=True)

## Set Index

Adicionalmente podemos definir um índice a partir do qual facilmente se podem encontrar determinados registos. O código `df.set_index('nome',inplace=True)`, permite definir a coluna `nome` como índice do nosso dataframe.

In [20]:
import pandas as pd
data = {'nome': ['Argentina','Brasil','França','Itália','Reino Unido'],
         'continente': ['América','América','Europa','Europa','Europa'],
         'extensao': [2780,8511,644,301,244],
         'corVerde': [0,1,0,1,0]
}

df = pd.DataFrame(data)
df.set_index('nome',inplace=True)
df

            continente  extensao  corVerde
nome
Argentina      América      2780         0
Brasil         América      8511         1
França          Europa       644         0
Itália          Europa       301         1
Reino Unido     Europa       244         0

No exemplo abaixo, ao invés, fazemos uso do parâmetro `index` para acrescentar os nomes dos países como índices.

In [21]:
import pandas as pd
data = { 'continente': ['América','América','Europa','Europa','Europa'],
         'extensao': [2780,8511,644,301,244],
         'corVerde': [0,1,0,1,0]
}

nomes = ['Argentina','Brasil','França','Itália','Reino Unido']

df = pd.DataFrame(data,index=nomes)
df

            continente  extensao  corVerde
Argentina      América      2780         0
Brasil         América      8511         1
França          Europa       644         0
Itália          Europa       301         1
Reino Unido     Europa       244         0

## Exploring Dataframes with Head and Tail

Na eventualidade de termos um dataset muito grande podemos recorrer ao comando head (que nos oferece uma visão das primeiras linhas).

In [22]:
import pandas as pd

data = {'nome': ['Argentina','Brasil','França','Itália','Reino Unido'],
         'continente': ['América','América','Europa','Europa','Europa'],
         'extensao': [2780,8511,644,301,244],
         'corVerde': [0,1,0,1,0]
}

siglas = ['AR','BR','FR','IT','UK']

df = pd.DataFrame(data,index=siglas)
df

           nome continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

O comando seguinte mostra a totalidade do dataframe (dado tratar-se um dataframe muito pequeno).

In [23]:
df.head()

           nome continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

O exemplo seguinte mostra apenas a primeira linha.

In [24]:
df.head(1)

         nome continente  extensao  corVerde
AR  Argentina    América      2780         0

Podemos também especificar qual a coluna a mostrar. O comando abaixo imprimir um objeto Series.

In [25]:
df["continente"].head(1)

AR    América
Name: continente, dtype: object

Ou colunas a mostrar.

In [26]:
df[["nome","continente"]].head(2)

         nome continente
AR  Argentina    América
BR     Brasil    América

O comando tail por sua vez remete-nos para a últimas linhas. No exemplo seguinte limitamo-nos a devolver os resultados da última linha.

In [27]:
df.tail(1)

           nome continente  extensao  corVerde
UK  Reino Unido     Europa       244         0