<div style="border: 1px solid black">
<b><center><font size="4">Data Science</font></center></b>

<b><center><font size="3">Manipulação e Análise de Dados com Pandas Dataframes</font></center></b>

<b><center><font size="2">4 - Import/Export Data</font></center></b>
</div>

**Notebook Developed by**: [Ricardo Campos](https://www.di.ubi.pt/~rcampos)<br>
**email:**  ricardo.campos@ubi.pt<br>
**Affiliation:** *Assistant Professor* @ [University of Beira Interior](http://www.ubi.pt);
*Researcher* @ [LIAAD](https://www.inesctec.pt/en/centres/liaad)-[INESC TEC](https://www.inesctec.pt/en)

<hr>

<p><a href="4ImportExportData.ipynb" title="Download Notebook" download><img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/download.jpg" align = "left" width="50" height="50" alt="Download Notebook"></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<hr>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Reading-Files" data-toc-modified-id="Reading-Files-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Reading Files</a></span><ul class="toc-item"><li><span><a href="#Formats" data-toc-modified-id="Formats-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Formats</a></span><ul class="toc-item"><li><span><a href="#CSV" data-toc-modified-id="CSV-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>CSV</a></span><ul class="toc-item"><li><span><a href="#read_csv" data-toc-modified-id="read_csv-1.1.1.1"><span class="toc-item-num">1.1.1.1&nbsp;&nbsp;</span>read_csv</a></span></li><li><span><a href="#encoding" data-toc-modified-id="encoding-1.1.1.2"><span class="toc-item-num">1.1.1.2&nbsp;&nbsp;</span>encoding</a></span></li><li><span><a href="#read-from-URL" data-toc-modified-id="read-from-URL-1.1.1.3"><span class="toc-item-num">1.1.1.3&nbsp;&nbsp;</span>read from URL</a></span></li><li><span><a href="#read-zip-files" data-toc-modified-id="read-zip-files-1.1.1.4"><span class="toc-item-num">1.1.1.4&nbsp;&nbsp;</span>read zip files</a></span><ul class="toc-item"><li><span><a href="#From-Local-Computer" data-toc-modified-id="From-Local-Computer-1.1.1.4.1"><span class="toc-item-num">1.1.1.4.1&nbsp;&nbsp;</span>From Local Computer</a></span></li><li><span><a href="#From-the-Web" data-toc-modified-id="From-the-Web-1.1.1.4.2"><span class="toc-item-num">1.1.1.4.2&nbsp;&nbsp;</span>From the Web</a></span></li></ul></li></ul></li><li><span><a href="#Excel" data-toc-modified-id="Excel-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Excel</a></span></li><li><span><a href="#HTML" data-toc-modified-id="HTML-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>HTML</a></span></li><li><span><a href="#JSon" data-toc-modified-id="JSon-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>JSon</a></span></li><li><span><a href="#ClipBoard" data-toc-modified-id="ClipBoard-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>ClipBoard</a></span></li></ul></li><li><span><a href="#Define-Specific-Fields" data-toc-modified-id="Define-Specific-Fields-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Define Specific Fields</a></span><ul class="toc-item"><li><span><a href="#Define-index" data-toc-modified-id="Define-index-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Define index</a></span></li><li><span><a href="#Load-Specific-Columns" data-toc-modified-id="Load-Specific-Columns-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Load Specific Columns</a></span></li><li><span><a href="#Set-variable-data-type" data-toc-modified-id="Set-variable-data-type-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Set variable data type</a></span></li><li><span><a href="#Treat-specific-values-as-NaN" data-toc-modified-id="Treat-specific-values-as-NaN-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Treat specific values as NaN</a></span></li><li><span><a href="#Specify-header" data-toc-modified-id="Specify-header-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Specify header</a></span></li><li><span><a href="#Specify-delimiter" data-toc-modified-id="Specify-delimiter-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Specify delimiter</a></span></li><li><span><a href="#Select-top-x-rows" data-toc-modified-id="Select-top-x-rows-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Select top-x rows</a></span></li><li><span><a href="#Skip-rows" data-toc-modified-id="Skip-rows-1.2.8"><span class="toc-item-num">1.2.8&nbsp;&nbsp;</span>Skip rows</a></span><ul class="toc-item"><li><span><a href="#Ignore-top-x-rows" data-toc-modified-id="Ignore-top-x-rows-1.2.8.1"><span class="toc-item-num">1.2.8.1&nbsp;&nbsp;</span>Ignore top-x rows</a></span><ul class="toc-item"><li><span><a href="#Dataset-without-header" data-toc-modified-id="Dataset-without-header-1.2.8.1.1"><span class="toc-item-num">1.2.8.1.1&nbsp;&nbsp;</span>Dataset without header</a></span></li><li><span><a href="#Dataset-with-header" data-toc-modified-id="Dataset-with-header-1.2.8.1.2"><span class="toc-item-num">1.2.8.1.2&nbsp;&nbsp;</span>Dataset with header</a></span></li></ul></li></ul></li></ul></li></ul></li><li><span><a href="#Save-Files" data-toc-modified-id="Save-Files-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Save Files</a></span><ul class="toc-item"><li><span><a href="#Save2Pickle" data-toc-modified-id="Save2Pickle-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Save2Pickle</a></span></li><li><span><a href="#Save2CSV" data-toc-modified-id="Save2CSV-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Save2CSV</a></span></li><li><span><a href="#Save2Excel" data-toc-modified-id="Save2Excel-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Save2Excel</a></span></li><li><span><a href="#Save2HTML" data-toc-modified-id="Save2HTML-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Save2HTML</a></span></li></ul></li><li><span><a href="#Memory-Usage" data-toc-modified-id="Memory-Usage-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Memory Usage</a></span></li><li><span><a href="#Big-Files" data-toc-modified-id="Big-Files-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Big Files</a></span></li></ul></div>

# Import/Export Data <a class="tocSkip">

<div class="alert alert-success alertsuccess" style="margin-top: 20px">

## Objetivos de aprendizagem  <a class="tocSkip">
    
No final deste notebook o aluno deverá saber importar e exportar dados a partir de dataframes.


## Learning Objectives  <a class="tocSkip">
       
When concluding this notebook, the student should know how to import and export data from dataframes. </div>

<div class="alert alert-success alertsuccess" style="margin-top: 20px">

## Sumário  <a class="tocSkip">
### Importação e Exportação de Dados <a class="tocSkip">

Introdução dos alunos à importação e exportação de dados a partir de Pandas dataframes
- importação de dados a partir de diferentes formatos (CSV; Excel; JSon; Clipboard)
- definição de campos específicos na importação de dados (definição de índices, carregamento de colunas específicas, especificação do tipo de dados, tratamento de valores nulos, especificação do cabeçalho, separador, top-x linhas, ignorar determinadas linhas)
- exportação de dados (pickle, csv, excel, html)
- uso de memória
    
## Class Summary  <a class="tocSkip">
### Importing and Exporting data <a class="tocSkip">
Introducing students to data importation and exportation from Pandas dataframes
- data importation from different formats (CSV; Excel; JSon; Clipboard)
- definition of specific fields when importing data (indexes, load specific columns, set variable data type, treat specific values as NaN, specify header, delimiter, top-x rows, skip rows)
- data exportation (pickle, csv, excel, html)
- memory usage

</div>

<hr>

Tipicamente, os dados dos DataFrames são obtidos a partir de ficheiros ou tabelas de bases de dados. Nesta seção, serão
apresentadas as técnicas básicas para importar dados destas fontes para DataFrames pandas. Os exemplos utilizam pequenas bases de dados que se encontram disponíveis [aqui](https://github.com/edubd/pandas).

<img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/DataScience/Pandas2.jpg" width="600" height="600" align="center"/>

<center>https://www.aiplusinfo.com/blog/pandas-and-large-dataframes-how-to-read-in-chunks/</center>

# Reading Files

## Formats

### CSV

#### read_csv

Para ler ficheiros CSV (comma-separated values — valores separados por vírgula) recorremos ao método `read_csv()`. No exemplo seguinte importamos o ficheiro `paises.csv`.

In [1]:
import pandas as pd
df = pd.read_csv("data/paises.csv")
df

  sigla         nome continente  extensao  corVerde
0    AR    Argentina    América     -9999         0
1    BR       Brasil    América      8511         1
2    FR       França     Europa       644         0
3    IT       Itália     Europa       301         1
4    UK  Reino Unido     Europa       244         0

#### encoding

A codificação default da pandas é utf-8. Se o seu ficheiro estiver codificado no formato ANSI, deverá utilizar o parâmetro encoding='ansi'. Para obter uma lista completa dos encodings, consulte: https://docs.python.org/3/library/codecs.html#standard-encodings

Para exemplificar este problema comece por fazer download do ficheiro `Summer-Olympic-medals-1976-to-2008.csv` a partir deste [link](https://www.kaggle.com/divyansh22/summer-olympics-medals) o qual reúne informação dos medalhados olímpicos no período compreendido entre 1976 e 2008. Posteriormente tente ler o ficheiro através do seguinte código. Observe que obtém um erro de encoding.

In [6]:
import pandas as pd
df = pd.read_csv("data/Summer-Olympic-medals-1976-to-2008.csv", encoding="ANSI")
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

Para resolver este problema proceda à definição do `encoding = 'ansi'`.

In [ ]:
import pandas as pd
df = pd.read_csv("data/Summer-Olympic-medals-1976-to-2008.csv", encoding='ansi')
df

#### read from URL

O método `read_csv` também pode ser usado para ler um ficheiro csv a partir de um URL.

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/scpike/us-state-county-zip/master/geo-data.csv')
df

       state_fips    state state_abbr zipcode      county        city
0               1  Alabama         AL   35004   St. Clair       Acmar
1               1  Alabama         AL   35005   Jefferson  Adamsville
2               1  Alabama         AL   35006   Jefferson       Adger
3               1  Alabama         AL   35007      Shelby    Keystone
4               1  Alabama         AL   35010  Tallapoosa    New site
...           ...      ...        ...     ...         ...         ...
33098          56  Wyoming         WY   83126     Lincoln       Smoot
33099          56  Wyoming         WY   83127     Lincoln      Thayne
33100          56  Wyoming         WY   83128     Lincoln      Alpine
33101          56  Wyoming         WY   831HH     Lincoln  Zcta 831hh
33102          56  Wyoming         WY   831XX     Lincoln  Zcta 831xx

[33103 rows x 6 columns]

#### read zip files

##### From Local Computer

By assigning the compression argument in `read_csv()` method as `zip`, pandas will create the dataframe from CSV file present in the zipped file.

In [8]:
import zipfile
import pandas as pd

# read the dataset using the compression zip
df = pd.read_csv('data/paises.zip',compression='zip')

# display dataset
df

  sigla         nome continente  extensao  corVerde
0    AR    Argentina    América     -9999         0
1    BR       Brasil    América      8511         1
2    FR       França     Europa       644         0
3    IT       Itália     Europa       301         1
4    UK  Reino Unido     Europa       244         0

##### From the Web

If the data file format is .zip, it might contain several files, such as metadata or data files. To read such data files, we need to unzip them first, and the rest depends on what the data file format compresses in the zip file.

In [9]:
import requests
import pandas as pd
from zipfile import ZipFile
from io import BytesIO

r = requests.get("https://archive.ics.uci.edu/ml/machine-learning-databases/00544/ObesityDataSet_raw_and_data_sinthetic (2).zip")
files = ZipFile(BytesIO(r.content))
df = pd.read_csv(files.open("ObesityDataSet_raw_and_data_sinthetic.csv"))
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

### Excel

Considere o ficheiro de Excel `capitais.xlsx`. Para o importar recorremos ao método `read_excel()`.

In [10]:
import pandas as pd
df = pd.read_excel("data/capitais.xlsx")
df

            capital   região  população
0   Belém            Sudeste    1446042
1   Belo Horizonte   Sudeste    2513451
2   Boa Vista          Norte     326419
3   Curitiba             Sul    1893977
4   Florianópolis        Sul     477798
5   Macapá             Norte     465495
6   Manaus             Norte    2094391
7   Palmas             Norte     279856
8   Porto Alegre         Sul    1481019
9   Porto Velho        Norte     511219
10  Rio Branco         Norte     377057
11  São Paulo        Sudeste   12038175
12  Rio de Janeiro   Sudeste    6498837
13  Vitória          Sudeste     359555

### HTML

A função `read_html` permite extrair tabelas de páginas web. No exemplo abaixo mostramos os resultados da tabela 1 extraída da página https://en.wikipedia.org/wiki/Epyc.

In [11]:
import pandas as pd
data = pd.read_html('https://en.wikipedia.org/wiki/Epyc')
data

[                                  0  \
 0                               NaN
 1               General information
 2                          Launched
 3                       Marketed by
 4                       Designed by
 5            Common manufacturer(s)
 6                       Performance
 7               Max. CPU clock rate
 8   Architecture and classification
 9                   Technology node
 10                Microarchitecture
 11                  Instruction set
 12                       Extensions
 13          Physical specifications
 14                            Cores
 15                     Memory (RAM)
 16                        Socket(s)
 17       Products, models, variants
 18                     Core name(s)
 19                    Brand name(s)
 20                          History
 21                   Predecessor(s)

                                                     1
 0                                                 NaN
 1                                 General information
 2                          June 20, 2017; 6 years ago
 3                                                 AMD
 4                                                 AMD
 5     GlobalFoundries (14 nm, 12 nm)TSMC (7 nm, 5 nm)
 6                                         Performance
 7                                  2.7 GHz to 4.4 GHz
 8                     Architecture and classification
 9                                       14 nm to 5 nm
 10  Zen microarchitectureZenZen+Zen 2Zen 3Zen 3+Ze...
 11                                             x86-64
 12  MMX(+), SSE1, SSE2, SSE3, SSSE3, SSE4a, SSE4.1...
 13                            Physical specifications
 14             up to 128 cores/256 threads per socket
 15               up to 12 memory channels at 4.8 GT/s
 16                                        SP3 SP5 SP6
 17                         Products, models, variants
 18                   NaplesRomeMilanGenoaBergamoSiena
 19                                               Epyc
 20                                            History
 21                                            Opteron  ,
          Gen      Year   Codename          Product line         Cores  \
       Server    Server     Server                Server        Server
 0        1st      2017     Naples           7001 series      32 × Zen
 1        2nd      2019       Rome           7002 series    64 × Zen 2
 2        3rd      2021      Milan           7003 series    64 × Zen 3
 3        3rd      2022    Milan-X           7003 series    64 × Zen 3
 4        4th      2022      Genoa           9004 series    96 × Zen 4
 5        4th      2023    Genoa-X           9004 series    96 × Zen 4
 6        4th      2023    Bergamo           9004 series  128 × Zen 4c
 7        4th      2023      Siena           8004 series   64 × Zen 4c
 8        5th      2025      Turin           9005 series   192 × Zen 5
 9        6th       TBA     Venice                   TBA           TBA
 10  Embedded  Embedded   Embedded              Embedded      Embedded
 11       1st      2018  Snowy Owl  Embedded 3001 series      16 × Zen
 12       2nd      2019     Naples  Embedded 7001 series      32 × Zen
 13       3rd      2021       Rome  Embedded 7002 series    64 × Zen 2
 14       4th      2023      Genoa  Embedded 9004 series    96 × Zen 4

        Socket             Memory
        Server Unnamed: 6_level_1
 0   SP3 (LGA)               DDR4
 1   SP3 (LGA)               DDR4
 2   SP3 (LGA)               DDR4
 3   SP3 (LGA)               DDR4
 4   SP5 (LGA)               DDR5
 5   SP5 (LGA)               DDR5
 6   SP5 (LGA)               DDR5
 7   SP6 (LGA)               DDR5
 8   SP5 (LGA)               DDR5
 9   SP7 (LGA)                TBA
 10   Embedded                NaN
 11  SP4 (BGA)               DDR4
 12  SP3 (BGA)               DDR4
 13  SP3 (BGA)               DDR4
 14  SP5 (BGA)               DDR5  ,
          Model[i] Cores (threads) Clock rate (GHz)                \
          Model[i] Cores (threads)             Base    Boost
          Model[i] Cores (threads)             Base All–core  Max
 0    7251[28][29]          8 (16)              2.1     2.90  2.9
 1    7261[28][31]          8 (16)              2.5     2.90  2.9
 2    7281[28][29]         16 (32)              2.1     2.70  2.7
 3    7301[28][29]         16 (32)              2.2     2.70  2.7
 4   7351P[28][29]         16 (32)              2.4     2.90  2.9
 5    7351[28][29]         16 (32)              2.4     2.90  2.9
 6    7371[28][33]         16 (32)              3.1     3.60  3.8
 7   7401P[28][29]         24 (48)              2.0     2.80  3.0
 8    7401[28][29]         24 (48)              2.0     2.80  3.0
 9    7451[28][29]         24 (48)              2.3     2.90  3.2
 10   7501[28][29]         32 (64)              2.0     2.60  3.0
 11  7551P[28][29]         32 (64)              2.0     2.55  3.0
 12   7551[28][29]         32 (64)              2.0     2.55  3.0
 13   7571[35][36]         32 (64)              2.2     3.00  3.0
 14   7601[28][29]         32 (64)              2.2     2.70  3.2

    L3 cache (total)        TDP Chiplets Core config[ii]       Release  \
    L3 cache (total)        TDP Chiplets Core config[ii]          Date
    L3 cache (total)        TDP Chiplets Core config[ii]          Date
 0             32 MB      120 W  4 × CCD           8 × 1  Jun 2017[30]
 1             64 MB  155/170 W  4 × CCD           8 × 1  Jun 2018[32]
 2             32 MB  155/170 W  4 × CCD           8 × 2  Jun 2017[30]
 3             64 MB  155/170 W  4 × CCD           8 × 2  Jun 2017[30]
 4             64 MB  155/170 W  4 × CCD           8 × 2  Jun 2017[30]
 5             64 MB  155/170 W  4 × CCD           8 × 2  Jun 2017[30]
 6             64 MB      200 W  4 × CCD           8 × 2  Nov 2018[34]
 7             64 MB  155/170 W  4 × CCD           8 × 3  Jun 2017[30]
 8             64 MB  155/170 W  4 × CCD           8 × 3  Jun 2017[30]
 9             64 MB      180 W  4 × CCD           8 × 3  Jun 2017[30]
 10            64 MB  155/170 W  4 × CCD           8 × 4  Jun 2017[30]
 11            64 MB      180 W  4 × CCD           8 × 4  Jun 2017[30]
 12            64 MB      180 W  4 × CCD           8 × 4  Jun 2017[30]
 13            64 MB      200 W  4 × CCD           8 × 4      Nov 2018
 14            64 MB      180 W  4 × CCD           8 × 4  Jun 2017[30]

                Embedded options[iii]
    Price (USD) Embedded options[iii]
    Price (USD) Embedded options[iii]
 0         $475                   Yes
 1         $570                   Yes
 2         $650                   Yes
 3         $800                   Yes
 4         $750                  735P
 5       $1,100                   Yes
 6       $1,550                   Yes
 7       $1,075                  740P
 8       $1,850                   Yes
 9       $2,400                   Yes
 10      $3,400                   Yes
 11      $2,100                  755P
 12      $3,400                   Yes
 13     OEM/AWS              Un­known
 14      $4,200                   Yes  ,
     Model        Release date Price (USD)       Fab          Chiplets  \
     Model        Release date Price (USD)       Fab          Chiplets
 0   7232P      August 7, 2019        $450  TSMC 7FF  2 × CCD 1 × I/OD
 1   7302P      August 7, 2019        $825  TSMC 7FF  4 × CCD 1 × I/OD
 2   7402P      August 7, 2019       $1250  TSMC 7FF  4 × CCD 1 × I/OD
 3   7502P      August 7, 2019       $2300  TSMC 7FF  4 × CCD 1 × I/OD
 4   7702P      August 7, 2019       $4425  TSMC 7FF  8 × CCD 1 × I/OD
 5    7252      August 7, 2019        $475  TSMC 7FF  2 × CCD 1 × I/OD
 6    7262      August 7, 2019        $575  TSMC 7FF  4 × CCD 1 × I/OD
 7    7272      August 7, 2019        $625  TSMC 7FF  2 × CCD 1 × I/OD
 8    7282      August 7, 2019        $650  TSMC 7FF  2 × CCD 1 × I/OD
 9    7302      August 7, 2019        $978  TSMC 7FF  4 × CCD 1 × I/OD
 10   7352      August 7, 2019       $1350  TSMC 7FF  4 × CCD 1 × I/OD
 11   7402      August 7, 2019       $1783  TSMC 7FF  4 × CCD 1 × I/OD
 12   7452      August 7, 2019       $2025  TSMC 7FF  4 × CCD 1 × I/OD
 13   7502      August 7, 2019       $2600  TSMC 7FF  4 × CCD 1 × I/OD
 14   7532      August 7, 2019       $3350  TSMC 7FF  8 × CCD 1 × I/OD
 15   7542      August 7, 2019       $3400  TSMC 7FF  4 × CCD 1 × I/OD
 16   7552      August 7, 2019       $4025  TSMC 7FF  6 × CCD 1 × I/OD
 17   7642      August 7, 2019       $4775  TSMC 7FF  8 × CCD 1 × I/OD
 18   7662      August 7, 2019       $6150  TSMC 7FF  8 × CCD 1 × I/OD
 19   7702      August 7, 2019       $6450  TSMC 7FF  8 × CCD 1 × I/OD
 20   7742      August 7, 2019       $6950  TSMC 7FF  8 × CCD 1 × I/OD
 21   7H12  September 18, 2019         NaN  TSMC 7FF  8 × CCD 1 × I/OD
 22   7F32  April 14, 2020[42]       $2100  TSMC 7FF  4 × CCD 1 × I/OD
 23   7F52  April 14, 2020[42]       $3100  TSMC 7FF  8 × CCD 1 × I/OD
 24   7F72  April 14, 2020[42]       $2450  TSMC 7FF  6 × CCD 1 × I/OD

    Cores (threads) Core config[i] Clock rate (GHz)        \
    Cores (threads) Core config[i]             Base Boost
 0           8 (16)          4 × 2             3.10  3.20
 1          16 (32)          8 × 2             3.00  3.30
 2          24 (48)          8 × 3             2.80  3.35
 3          32 (64)          8 × 4             2.50  3.35
 4         64 (128)         16 × 4             2.00  3.35
 5           8 (16)          4 × 2             3.10  3.20
 6           8 (16)          8 × 1             3.20  3.40
 7          12 (24)          4 × 3             2.90  3.20
 8          16 (32)          4 × 4             2.80  3.20
 9          16 (32)          8 × 2             3.00  3.30
 10         24 (48)          8 × 3             2.30  3.20
 11         24 (48)          8 × 3             2.80  3.35
 12         32 (64)          8 × 4             2.35  3.35
 13         32 (64)          8 × 4             2.50  3.35
 14         32 (64)         16 × 2             2.40  3.30
 15         32 (64)          8 × 4             2.90  3.40
 16         48 (96)         12 × 4             2.20  3.30
 17         48 (96)         16 × 3             2.30  3.30
 18        64 (128)         16 × 4             2.00  3.30
 19        64 (128)         16 × 4             2.00  3.35
 20        64 (128)         16 × 4             2.25  3.40
 21        64 (128)         16 × 4             2.60  3.30
 22          8 (16)          8 × 1             3.70  3.90
 23         16 (32)         16 × 1             3.50  3.90
 24         24 (48)         12 × 2             3.20  3.70

                                 Cache                     \
                                    L1                 L2
 0   32 KB inst. 32 KB data (per core)  512 KB (per core)
 1   32 KB inst. 32 KB data (per core)  512 KB (per core)
 2   32 KB inst. 32 KB data (per core)  512 KB (per core)
 3   32 KB inst. 32 KB data (per core)  512 KB (per core)
 4   32 KB inst. 32 KB data (per core)  512 KB (per core)
 5   32 KB inst. 32 KB data (per core)  512 KB (per core)
 6   32 KB inst. 32 KB data (per core)  512 KB (per core)
 7   32 KB inst. 32 KB data (per core)  512 KB (per core)
 8   32 KB inst. 32 KB data (per core)  512 KB (per core)
 9   32 KB inst. 32 KB data (per core)  512 KB (per core)
 10  32 KB inst. 32 KB data (per core)  512 KB (per core)
 11  32 KB inst. 32 KB data (per core)  512 KB (per core)
 12  32 KB inst. 32 KB data (per core)  512 KB (per core)
 13  32 KB inst. 32 KB data (per core)  512 KB (per core)
 14  32 KB inst. 32 KB data (per core)  512 KB (per core)
 15  32 KB inst. 32 KB data (per core)  512 KB (per core)
 16  32 KB inst. 32 KB data (per core)  512 KB (per core)
 17  32 KB inst. 32 KB data (per core)  512 KB (per core)
 18  32 KB inst. 32 KB data (per core)  512 KB (per core)
 19  32 KB inst. 32 KB data (per core)  512 KB (per core)
 20  32 KB inst. 32 KB data (per core)  512 KB (per core)
 21  32 KB inst. 32 KB data (per core)  512 KB (per core)
 22  32 KB inst. 32 KB data (per core)  512 KB (per core)
 23  32 KB inst. 32 KB data (per core)  512 KB (per core)
 24  32 KB inst. 32 KB data (per core)  512 KB (per core)

                            Socket & Scaling    TDP
                         L3 Socket & Scaling    TDP
 0     32 MB (8 MB per CCX)           SP3 1P  120 W
 1   128 MB (16 MB per CCX)           SP3 1P  155 W
 2   128 MB (16 MB per CCX)           SP3 1P  180 W
 3   128 MB (16 MB per CCX)           SP3 1P  180 W
 4   256 MB (16 MB per CCX)           SP3 1P  200 W
 5    64 MB (16 MB per CCX)   SP3 (up to) 2P  120 W
 6   128 MB (16 MB per CCX)   SP3 (up to) 2P  155 W
 7    64 MB (16 MB per CCX)   SP3 (up to) 2P  120 W
 8    64 MB (16 MB per CCX)   SP3 (up to) 2P  120 W
 9   128 MB (16 MB per CCX)   SP3 (up to) 2P  155 W
 10  128 MB (16 MB per CCX)   SP3 (up to) 2P  155 W
 11  128 MB (16 MB per CCX)   SP3 (up to) 2P  180 W
 12  128 MB (16 MB per CCX)   SP3 (up to) 2P  155 W
 13  128 MB (16 MB per CCX)   SP3 (up to) 2P  180 W
 14  256 MB (16 MB per CCX)   SP3 (up to) 2P  200 W
 15  128 MB (16 MB per CCX)   SP3 (up to) 2P  225 W
 16  192 MB (16 MB per CCX)   SP3 (up to) 2P  200 W
 17  256 MB (16 MB per CCX)   SP3 (up to) 2P  225 W
 18  256 MB (16 MB per CCX)   SP3 (up to) 2P  225 W
 19  256 MB (16 MB per CCX)   SP3 (up to) 2P  200 W
 20  256 MB (16 MB per CCX)   SP3 (up to) 2P  225 W
 21  256 MB (16 MB per CCX)   SP3 (up to) 2P  280 W
 22  128 MB (16 MB per CCX)   SP3 (up to) 2P  180 W
 23  256 MB (16 MB per CCX)   SP3 (up to) 2P  240 W
 24  192 MB (16 MB per CCX)   SP3 (up to) 2P  240 W  ,
     Model Price (USD)       Fab          Chiplets Cores (threads)  \
     Model Price (USD)       Fab          Chiplets Cores (threads)
 0   7773X       $8800  TSMC 7FF  8 × CCD 1 × I/OD        64 (128)
 1    7763       $7890  TSMC 7FF  8 × CCD 1 × I/OD        64 (128)
 2    7713       $7060  TSMC 7FF  8 × CCD 1 × I/OD        64 (128)
 3   7713P       $5010  TSMC 7FF  8 × CCD 1 × I/OD        64 (128)
 4    7663       $6366  TSMC 7FF  8 × CCD 1 × I/OD        56 (112)
 5   7663P       $3139  TSMC 7FF  8 × CCD 1 × I/OD        56 (112)
 6    7643       $4995  TSMC 7FF  8 × CCD 1 × I/OD         48 (96)
 7   7643P       $2722  TSMC 7FF  8 × CCD 1 × I/OD         48 (96)
 8   7573X       $5590  TSMC 7FF  8 × CCD 1 × I/OD         32 (64)
 9    75F3       $4860  TSMC 7FF  8 × CCD 1 × I/OD         32 (64)
 10   7543       $3761  TSMC 7FF  8 × CCD 1 × I/OD         32 (64)
 11  7543P       $2730  TSMC 7FF  8 × CCD 1 × I/OD         32 (64)
 12   7513       $2840  TSMC 7FF  8 × CCD 1 × I/OD         32 (64)
 13   7453       $1570  TSMC 7FF  4 × CCD 1 × I/OD         28 (56)
 14  7473X       $3900  TSMC 7FF  8 × CCD 1 × I/OD         24 (48)
 15   74F3       $2900  TSMC 7FF  8 × CCD 1 × I/OD         24 (48)
 16   7443       $2010  TSMC 7FF  4 × CCD 1 × I/OD         24 (48)
 17  7443P       $1337  TSMC 7FF  4 × CCD 1 × I/OD         24 (48)
 18   7413       $1825  TSMC 7FF  4 × CCD 1 × I/OD         24 (48)
 19  7373X       $4185  TSMC 7FF  8 × CCD 1 × I/OD         16 (32)
 20   73F3       $3521  TSMC 7FF  8 × CCD 1 × I/OD         16 (32)
 21   7343       $1565  TSMC 7FF  4 × CCD 1 × I/OD         16 (32)
 22   7313       $1083  TSMC 7FF  4 × CCD 1 × I/OD         16 (32)
 23  7313P        $913  TSMC 7FF  4 × CCD 1 × I/OD         16 (32)
 24   7303        $604  TSMC 7FF  2 × CCD 1 × I/OD         16 (32)
 25  7303P        $594  TSMC 7FF  2 × CCD 1 × I/OD         16 (32)
 26   72F3       $2468  TSMC 7FF  8 × CCD 1 × I/OD          8 (16)
 27   7203        $348  TSMC 7FF  2 × CCD 1 × I/OD          8 (16)
 28  7203P        $338  TSMC 7FF  2 × CCD 1 × I/OD          8 (16)

    Core config[i] Clock rate (GHz)                                     Cache  \
    Core config[i]             Base  Boost                                 L1
 0           8 × 8             2.20  3.500  32 KB inst. 32 KB data (per core)
 1           8 × 8             2.45  3.400  32 KB inst. 32 KB data (per core)
 2           8 × 8             2.00  3.675  32 KB inst. 32 KB data (per core)
 3           8 × 8             2.00  3.675  32 KB inst. 32 KB data (per core)
 4           8 × 7             2.00  3.500  32 KB inst. 32 KB data (per core)
 5           8 × 7             2.00  3.500  32 KB inst. 32 KB data (per core)
 6           8 × 6             2.30  3.600  32 KB inst. 32 KB data (per core)
 7           8 × 6             2.30  3.600  32 KB inst. 32 KB data (per core)
 8           8 × 4             2.80  3.600  32 KB inst. 32 KB data (per core)
 9           8 × 4             2.95  4.000  32 KB inst. 32 KB data (per core)
 10          8 × 4             2.80  3.700  32 KB inst. 32 KB data (per core)
 11          8 × 4             2.80  3.700  32 KB inst. 32 KB data (per core)
 12          8 × 4             2.60  3.650  32 KB inst. 32 KB data (per core)
 13          4 × 7             2.75  3.450  32 KB inst. 32 KB data (per core)
 14          8 × 3             2.80  3.700  32 KB inst. 32 KB data (per core)
 15          8 × 3             3.20  4.000  32 KB inst. 32 KB data (per core)
 16          4 × 6             2.85  4.000  32 KB inst. 32 KB data (per core)
 17          4 × 6             2.85  4.000  32 KB inst. 32 KB data (per core)
 18          4 × 6             2.65  3.600  32 KB inst. 32 KB data (per core)
 19          8 × 2             3.05  3.800  32 KB inst. 32 KB data (per core)
 20          8 × 2             3.50  4.000  32 KB inst. 32 KB data (per core)
 21          4 × 4             3.20  3.900  32 KB inst. 32 KB data (per core)
 22          4 × 4             3.00  3.700  32 KB inst. 32 KB data (per core)
 23          4 × 4             3.00  3.700  32 KB inst. 32 KB data (per core)
 24          2 x 8             2.40  3.400  32 KB inst. 32 KB data (per core)
 25          2 x 8             2.40  3.400  32 KB inst. 32 KB data (per core)
 26          8 × 1             3.70  4.100  32 KB inst. 32 KB data (per core)
 27          2 x 4             2.80  3.400  32 KB inst. 32 KB data (per core)
 28          2 x 4             2.80  3.400  32 KB inst. 32 KB data (per core)

                                               Socket & Scaling    TDP
                    L2                      L3 Socket & Scaling    TDP
 0   512 KB (per core)  768 MB (96 MB per CCX)   SP3 (up to) 2P  280 W
 1   512 KB (per core)    256 MB 32 MB per CCX   SP3 (up to) 2P  280 W
 2   512 KB (per core)    256 MB 32 MB per CCX   SP3 (up to) 2P  225 W
 3   512 KB (per core)    256 MB 32 MB per CCX           SP3 1P  225 W
 4   512 KB (per core)    256 MB 32 MB per CCX   SP3 (up to) 2P  240 W
 5   512 KB (per core)    256 MB 32 MB per CCX           SP3 1P  240 W
 6   512 KB (per core)    256 MB 32 MB per CCX   SP3 (up to) 2P  225 W
 7   512 KB (per core)    256 MB 32 MB per CCX           SP3 1P  225 W
 8   512 KB (per core)  768 MB (96 MB per CCX)   SP3 (up to) 2P  280 W
 9   512 KB (per core)  256 MB (32 MB per CCX)   SP3 (up to) 2P  280 W
 10  512 KB (per core)  256 MB (32 MB per CCX)   SP3 (up to) 2P  225 W
 11  512 KB (per core)  256 MB (32 MB per CCX)           SP3 1P  225 W
 12  512 KB (per core)  128 MB (16 MB per CCX)   SP3 (up to) 2P  200 W
 13  512 KB (per core)   64 MB (16 MB per CCX)   SP3 (up to) 2P  225 W
 14  512 KB (per core)  768 MB (96 MB per CCX)   SP3 (up to) 2P  240 W
 15  512 KB (per core)  256 MB (32 MB per CCX)   SP3 (up to) 2P  240 W
 16  512 KB (per core)  128 MB (32 MB per CCX)   SP3 (up to) 2P  200 W
 17  512 KB (per core)  128 MB (32 MB per CCX)           SP3 1P  200 W
 18  512 KB (per core)  128 MB (32 MB per CCX)   SP3 (up to) 2P  180 W
 19  512 KB (per core)  768 MB (96 MB per CCX)   SP3 (up to) 2P  240 W
 20  512 KB (per core)  256 MB (32 MB per CCX)   SP3 (up to) 2P  240 W
 21  512 KB (per core)  128 MB (32 MB per CCX)   SP3 (up to) 2P  190 W
 22  512 KB (per core)  128 MB (32 MB per CCX)   SP3 (up to) 2P  155 W
 23  512 KB (per core)  128 MB (32 MB per CCX)           SP3 1P  155 W
 24  512 KB (per core)   64 MB (32 MB per CCX)   SP3 (up to) 2P  130 W

### JSon

JSON (JavaScript Object Notation) é um modelo para armazenamento e transmissão de informações no formato texto.
Apesar de muito simples, é o mais utilizado por aplicações Web devido à sua capacidade de estruturar informações de forma compacta e autodescritiva. A listagem a seguir apresenta um exemplo de um ficheiro no formato JSON. O ficheiro, denominado `notas.json`, contém as matrículas de quatro alunos e as notas por eles obtidas em duas provas.

<img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/DataScience/json1.jpg" width="300" height="300" align="center"/>

Neste exemplo, as chaves do dicionário são matricula e notas. A primeira está associada a um valor String (matrícula do aluno). Já a segunda chave é um pouco mais interessante, pois está associada a um vetor de números reais, contendo duas notas. É exatamente aí que está o poder do JSON! Ao contrário do formato CSV, o JSON consegue representar não apenas dados tabulares, mas também dados complexos, como
vetores, listas, etc.

A importação de ficheiros JSon para dataframes pandas consiste de dois passos:
- Importar o arquivo JSON para um objeto em memória, utilizando o pacote json do Python padrão;
- Transferir os dados do objeto para um DataFrame.

Na primeira parte temos a "receita de bolo" para a leitura de ficheiros JSON, que consiste em utilizar o método `load()` do pacote json . Ao ser chamado, este método faz com que o ficheiro JSON inteiro seja carregado para um objeto em memória (que no nosso programa, foi chamado de `data`).

In [12]:
import pandas as pd
import json

#(1)-Importa o arquivo JSON para memória
with open("data/notas.json") as f:
    data = json.load(f)

data

[{'matricula': 'M0012017', 'notas': [9.8, 9.5]},
 {'matricula': 'M0022017', 'notas': [5.3, 4.1]},
 {'matricula': 'M0032017', 'notas': [2.5, 8.0]},
 {'matricula': 'M0042017', 'notas': [7.5, 7.5]}]

Na segunda parte, transfere-se o conteúdo do objeto JSON em memória para um DataFrame.

In [13]:
#(2)-Transfere as informações para um DataFrame
df = pd.DataFrame(data)
df

  matricula       notas
0  M0012017  [9.8, 9.5]
1  M0022017  [5.3, 4.1]
2  M0032017  [2.5, 8.0]
3  M0042017  [7.5, 7.5]

### ClipBoard

Uma outra funcionalidade interessante do pandas prende-se com a possibilidade que existe de poder copiar rapidamente  valores a partir da área de transferência (e.g., uma tabela existente num documento do excel ou mesmo do word). Para simular esse processo, abra o ficheiro excel `Clipboard` existente na pasta `data` e copie a seguinte tabela (4 x 3, sendo que a primeira linha é o cabeçalho):

<img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/DataScience/PandasExcel.jpg" width="300" height="300" align="center"/>

De seguida copie o conjunto de células para a memória do seu pc (CTRL-C) e execute o código abaixo:

In [14]:
import pandas as pd
df = pd.read_clipboard()
df

Empty DataFrame
Columns: [df_02]
Index: []

<hr>

## Define Specific Fields

As seções seguintes ilustram um conjunto de operações que podem ser realizadas aquando da leitura de um ficheiro `csv`.

### Define index

O parâmetro `index_col` permite definir umas das colunas como index:

In [15]:
import pandas as pd
df = pd.read_csv("data/paises.csv",index_col="sigla")
df

              nome continente  extensao  corVerde
sigla
AR       Argentina    América     -9999         0
BR          Brasil    América      8511         1
FR          França     Europa       644         0
IT          Itália     Europa       301         1
UK     Reino Unido     Europa       244         0

### Load Specific Columns

O parâmetro `usecols` permite definir quais as colunas a importar.

In [16]:
import pandas as pd
df = pd.read_csv("data/paises.csv",usecols=['sigla','nome'])
df

  sigla         nome
0    AR    Argentina
1    BR       Brasil
2    FR       França
3    IT       Itália
4    UK  Reino Unido

### Set variable data type

Por defeito qualquer variável inteira é carregada pelo método `read_csv` como `int64`.

In [17]:
import pandas as pd
df = pd.read_csv("data/paises.csv")
df.dtypes

sigla         object
nome          object
continente    object
extensao       int64
corVerde       int64
dtype: object

O parâmetro `dtype` permite especificar a conversão da variável para um outro tipo de dados (e.g., `float`) aquando da leitura do ficheiro (uma técnica de compressão habitualmente utilizada para reduzir o tamanho ocupado pelas variáveis em datasets de dimensão considerável - mais sobre isto no curso de big data - notebook compression). No exemplo abaixo recorremos ao parâmetro `dtype` para definir a variável `extensão` como `float`.

In [18]:
import pandas as pd
df = pd.read_csv("data/paises.csv",dtype={'extensao':float})
df

  sigla         nome continente  extensao  corVerde
0    AR    Argentina    América   -9999.0         0
1    BR       Brasil    América    8511.0         1
2    FR       França     Europa     644.0         0
3    IT       Itália     Europa     301.0         1
4    UK  Reino Unido     Europa     244.0         0

### Treat specific values as NaN

Por defeito o pandas considera `#N/A`, `-NaN`, `-n/a`, `N/A`, `NULL`, etc como `NaN` value. Noutras situações, por opção do responsável pelo desenvolvimento do dataset, os valores nulos são representados com recurso a outras denominações (e.g., `Not Available`) ou mais frequentemente pelo número `-9999`. O parâmetro `na_values` permite especificar que um determinado valor deve ser considerado um valor nulo sendo portanto representado aquando da leitura do dataset por `NaN`.

O exemplo seguinte especifica que o número `-9999` deve ser tratado como um valor nulo (`NaN`).

In [19]:
import pandas as pd
df = pd.read_csv("data/paises.csv",na_values=-9999)
df

  sigla         nome continente  extensao  corVerde
0    AR    Argentina    América       NaN         0
1    BR       Brasil    América    8511.0         1
2    FR       França     Europa     644.0         0
3    IT       Itália     Europa     301.0         1
4    UK  Reino Unido     Europa     244.0         0

In [20]:
pd.to_csv

sigla          object
nome           object
continente     object
extensao      float64
corVerde        int64
dtype: object

A especificação de mais do que um valor é feita com recurso a uma lista de dados (e.g., [-9999,'Not Available']).

### Specify header

Em determinadas situações os datasets não possuem header (é o caso do ficheiro `paises_noheader.csv`). O parâmetro `names` permite a especificação de um header (uma lista de nomes para as colunas).

In [21]:
import pandas as pd
df = pd.read_csv("data/paises_noheader.csv", names=['sigla','nome','continente','extensao','corVerde'])
df

  sigla         nome continente  extensao  corVerde
0    AR    Argentina    América      2780         0
1    BR       Brasil    América      8511         1
2    FR       França     Europa       644         0
3    IT       Itália     Europa       301         1
4    UK  Reino Unido     Europa       244         0

### Specify delimiter

Outros datasets possuem um delimitador diferente da vírgula obrigando à especificação de um separador por intermédio do parâmetro `sep` (em muitos csv files a separação dá-se através da tabulação `\t`).

O código seguinte apresenta um programa capaz de importar e formatar o ficheiro `notas.csv`, cujo conteúdo armazena as matrículas de quatro alunos e as notas por eles obtidas em duas diferentes provas. Note que o ficheiro usa ponto e vírgula (`;`) como separador e não possui uma linha de cabeçalho. Para importá-lo e definir uma linha de cabeçalho, basta fazer da seguinte forma:

In [22]:
import pandas as pd
df = pd.read_csv("data/notas.csv", sep=";", names=['matricula','nota1','nota2'])
df

  matricula  nota1  nota2
0  M0012017    9.8    9.5
1  M0022017    5.3    4.1
2  M0032017    2.5    8.0
3  M0042017    7.5    7.5

### Select top-x rows

Outro parâmetro importante é o `nrows` que permite selecionar as `top-x` rows aí especificadas.

In [23]:
import pandas as pd
df = pd.read_csv("data/paises.csv",nrows=2)
df

  sigla       nome continente  extensao  corVerde
0    AR  Argentina    América     -9999         0
1    BR     Brasil    América      8511         1

### Skip rows

#### Ignore top-x rows

O método `skip rows` permite especificar o número de linhas a ignorar desde o início do dataframe.

##### Dataset without header

Neste exemplo ilustramos o load da totalidade de um dataset (`paises_noheader.csv`) que não possui cabeçalho.

In [24]:
import pandas as pd
df = pd.read_csv("data/paises_noheader.csv",names=['sigla','nome','continente','extensao','corVerde'])
df

  sigla         nome continente  extensao  corVerde
0    AR    Argentina    América      2780         0
1    BR       Brasil    América      8511         1
2    FR       França     Europa       644         0
3    IT       Itália     Europa       301         1
4    UK  Reino Unido     Europa       244         0

De seguida atribuímos um header ao dataset (a partir do parâmetro `names`) e especificamos `skiprows=2` o que significa que o sistema vai desconsiderar a seleção das duas primeiras linhas do dataset, ou seja, o registo 0 e o registo 1.

In [25]:
import pandas as pd
df = pd.read_csv("data/paises_noheader.csv",skiprows=2,names=['sigla','nome','continente','extensao','corVerde'])
df

  sigla         nome continente  extensao  corVerde
0    FR       França     Europa       644         0
1    IT       Itália     Europa       301         1
2    UK  Reino Unido     Europa       244         0

Ao invés de especificar `top-x` linhas é possível passar uma lista com os índices a desconsiderar no processo de seleção. No exemplo abaixo indicamos ao sistema que os registos com o índice 0 (da Argentina) e o índice 3 (da Itália) não devem ser selecionados.

In [26]:
import pandas as pd
df = pd.read_csv("data/paises_noheader.csv",skiprows=[0,3],names=['sigla','nome','continente','extensao','corVerde'])
df

  sigla         nome continente  extensao  corVerde
0    BR       Brasil    América      8511         1
1    FR       França     Europa       644         0
2    UK  Reino Unido     Europa       244         0

##### Dataset with header

Nos casos em que o dataset tenha header é necessário especificar não só o parâmetro `header = 0`, assim como o próprio cabeçalho através do parâmetro `names`. A não especificação deste parâmetro faz com que o header seja considerado um registo normal, que não será selecionado, sendo que nestes casos o cabeçalho passaria a ser o de um registo (no caso o do terceiro registo).

In [27]:
import pandas as pd
df = pd.read_csv("data/paises.csv",skiprows=2, header = 0, names=['sigla','nome','continente','extensao','corVerde'])
df

  sigla         nome continente  extensao  corVerde
0    FR       França     Europa       644         0
1    IT       Itália     Europa       301         1
2    UK  Reino Unido     Europa       244         0

Ao invés de especificar `top-x` linhas é possível passar uma lista com os índices a desconsiderar no processo de seleção. No código abaixo voltamos a fazer o load da totalidade do dataset para efeitos de comparação posterior com o skiprows.

In [28]:
import pandas as pd
df = pd.read_csv("data/paises.csv")
df

  sigla         nome continente  extensao  corVerde
0    AR    Argentina    América     -9999         0
1    BR       Brasil    América      8511         1
2    FR       França     Europa       644         0
3    IT       Itália     Europa       301         1
4    UK  Reino Unido     Europa       244         0

Tal como em exemplos anteriores, o objetivo passa por eliminar os registos da Argentina e da Itália. A existência de um header no dataset (correspondente ao índice 0) pressupõe que os índices da Argentina e da Itália são 1 e 4 respetivamente. Ou seja, a existência de um header conta como índice (no caso, índice 0).

In [29]:
import pandas as pd
df = pd.read_csv("data/paises.csv",skiprows=[1,4])
df

  sigla         nome continente  extensao  corVerde
0    BR       Brasil    América      8511         1
1    FR       França     Europa       644         0
2    UK  Reino Unido     Europa       244         0

Suponha agora que pretende eliminar três registos a partir da segunda linha. Com vista a esse objetivo pode recorrer ao range como exemplificado abaixo:

In [30]:
ListOfIndexes = [i for i in range(2, 5)]
ListOfIndexes

[2, 3, 4]

In [31]:
import pandas as pd
df = pd.read_csv("data/paises.csv",skiprows=ListOfIndexes)
df

  sigla         nome continente  extensao  corVerde
0    AR    Argentina    América     -9999         0
1    UK  Reino Unido     Europa       244         0

Finalmente é possível recorrer a funções que sejam aplicadas a cada um dos registos do dataset. No exemplo seguinte fazemos um `skip` da linha cujo index é divisivel por 5.

In [32]:
def logic(index):
    if index % 5 == 0:
        return True
    
    return False

df = pd.read_csv("data/paises.csv", skiprows = lambda x: logic(x), names=['sigla','nome','continente','extensao','corVerde'])
df

  sigla       nome continente  extensao  corVerde
0    AR  Argentina    América     -9999         0
1    BR     Brasil    América      8511         1
2    FR     França     Europa       644         0
3    IT     Itália     Europa       301         1

<hr>

# Save Files

## Save2Pickle

Se quiser guardar o conteúdo do dataframe, como dataframe para futura utilização recorra ao seguinte código:

Comece por considerar o seguinte dataframe:

In [33]:
import pandas as pd

#cria o DataFrame
data = {'codigo': [1001,1002,1003,1004,1005], 'nome': ['Leite','Café','Biscoito','Chá','Torradas']}
df = pd.DataFrame(data)
df

   codigo      nome
0    1001     Leite
1    1002      Café
2    1003  Biscoito
3    1004       Chá
4    1005  Torradas

De seguida execute o seguinte código para gravar o dataframe no disco:

In [34]:
df.to_pickle("data/dataframe.pkl")

Posteriormente pode importá-lo da seguinte forma:

In [35]:
import pandas as pd
df = pd.read_pickle("data/dataframe.pkl")
df.head()

   codigo      nome
0    1001     Leite
1    1002      Café
2    1003  Biscoito
3    1004       Chá
4    1005  Torradas

## Save2CSV

Se quiser gravar o conteúdo de um DataFrame em memória para um arquivo CSV, deverá utilizar o método `to_csv()`.

In [ ]:
import pandas as pd

#cria o DataFrame
data = {'codigo': [1001,1002,1003,1004,1005], 'nome': ['Leite','Café','Biscoito','Chá','Torradas']}
df = pd.DataFrame(data)
df

Neste exemplo, realiza-se a gravação do ficheiro `produtos.csv` a partir do conteúdo do DataFrame `df`. Nos parâmetros do método `to_csv()`, a tabulação `\t` foi adotada como caractere delimitador (parâmetro sep ) e a opção `index=False` foi utilizada para evitar que os rótulos dos índices (números inteiros) fossem gravados no ficheiro.

In [ ]:
#salva o seu conteúdo para um ficheiro
df.to_csv("data/produtos.csv", sep="\t", index=False)

<hr>

## Save2Excel

In [ ]:
df.to_excel("data/produtos.xlsx")

## Save2HTML

In [ ]:
df.to_html("data/pandas.html")

or:

In [ ]:
html = df.to_html()
with open("pandas.html", "w", encoding="utf-8") as file:
    file.write(html)

<hr>

# Memory Usage

Voltamos a fazer load do dataset acima usado:

In [36]:
import pandas as pd
df = pd.read_csv("data/paises.csv",index_col="sigla")
df

              nome continente  extensao  corVerde
sigla
AR       Argentina    América     -9999         0
BR          Brasil    América      8511         1
FR          França     Europa       644         0
IT          Itália     Europa       301         1
UK     Reino Unido     Europa       244         0

To know the size of the dataset we can use the `info()` function. Pandas `info()` function is mainly used for information about each of the columns, their data types, and how many values are not null for each variable. Pandas `info()` fnction also gives us the memory usage at the end of its report.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, AR to UK
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nome        5 non-null      object
 1   continente  5 non-null      object
 2   extensao    5 non-null      int64
 3   corVerde    5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 200.0+ bytes

To get the full memory usage (including the memory occupied by the values of each variable), we provide `memory_usage='deep'` argument to `info()`.

In [38]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, AR to UK
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nome        5 non-null      object
 1   continente  5 non-null      object
 2   extensao    5 non-null      int64
 3   corVerde    5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 1.1 KB

Pandas `info()` function gave the total memory used by a dataframe. However, sometimes you may want memory used by each column in a Pandas dataframe. We can get each column/variable level memory usage (in bytes) using Pandas `memory_usage()` function.

In [39]:
# Finally, let's see the memory usage of each dimension.
df.memory_usage()

Index         40
nome          40
continente    40
extensao      40
corVerde      40
dtype: int64

However, that’s not all the memory being used: there’s also the memory being used by the variables themselves. With `deep=False`, the memory used by the strings is not counted; with `deep=True`, it is.

Since `memory_usage()` function returns a dataframe of memory usage, we can sum it to get the total memory used.

In [40]:
df_memory = df.memory_usage(deep=True).sum()
print('Total memory consumption is', df_memory,'Bytes.')

Total memory consumption is 1111 Bytes.

# Big Files

To process big files see the big data course (namely the compression, databases and chunking notebooks). Optional notebooks: dask and pyspark.

<img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/DataScience/dask.jpg" width="300" height="300" align="center"/>

<center>https://medium.datadriveninvestor.com/pandas-dask-or-pyspark-what-should-you-choose-for-your-dataset-c0f67e1b1d36</center>